.right_content_layout{
    font-size: 13px;
    float: left;
    margin: 5px;
    width: 60%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.right_content_layout>h4{
    margin: 5px;
}
.right_content_layout>a{
    margin: 5px;
}

